.holder {
  width: 100%;
  display: flex;
  justify-content: space-between; /* spaces boxes across */
  flex-wrap: wrap; /* allows wrapping */
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
  line-height: 100px; /* vertically centers the numbers */
}

/* colors */
#a { background: green; }
#b { background: red; }
#c { background: blue; }
#a1, #b2, #c3, #d, #e { background: green; }
#f { background: red; }
#g { background: blue; }
